<h1>New Article</h1>

<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br> <!-- nazwa pola -->
    <%= f.text_field :title %> <!-- pole do wpisania -->
  </p>
 
  <p>
    <%= f.label :text %><br> <!-- nazwa pola -->
    <%= f.text_area :text %> <!-- obszar do wpisania -->
  </p>
 
  <p>
    <%= f.submit %> <!-- przycisk potwierdzajacy -->
  </p>
<% end %>